body{
    font-family: 'Roboto', sans-serif;
}

.install-terms{
    text-decoration: none;
    color: #0099ff;
}

.install-terms:hover{
    color: #4db8ff;
}


@media only screen and (min-width: 250px) and (max-width: 600px){

    body{ background: #fff; }
    .install{ border-radius: 3px; position: absolute; transform: translate(-50%); left: 50%; z-index: 100; background: #fff; width: 90%; }
    .install-block{ display: grid; grid-template-columns: 100%; }
    .install-context{ padding: 40px 20px; }
    .install-title{ font-size: 20px; text-align: center; font-weight: bold; margin-bottom: 3px; color: #7499aa; }
    .install-description{ font-size: 14px; text-align: center; margin-bottom: 20px; color: #a2a2c3; } 
    .install-label{ margin-bottom: 5px; color: #999; font-size: 14px; margin-left: 5px; } 
    .install-input{ padding: 7px 10px; background: #f2f2f2; border: 1px solid #e6eff3; border-bottom: 1px solid #e6eff3; width: 93%; margin-bottom: 15px; box-shadow: 0 0 0 0; outline: 0; border-radius: 3px; } 
    .install-input:focus{ border-bottom: 1px solid #5e7e8c; } 
    .installbutton{ margin-top: 35px; display: block; margin-left: auto; margin-right: auto; padding: 15px 35px; cursor: pointer; box-shadow: 0 0 0 0; border: 0 none; outline: 0; background: #0099ff; color: #ffffff; font-size: 16px; border-radius: 3px; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; } 
    .install-info-group{ display: grid; grid-template-columns: 20px auto; margin-bottom: 8px;} 
    .install-remember{ font-size: 14px; display: inline-block; margin-top: 1px; color: #555; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; margin-left: 4px; } 
    .install-image-icon{ width: 85px; border-radius: 100%; position: relative; transform: translateX(-50%); left: 50%; margin-bottom: 4px; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

}

@media only screen and (min-width: 601px) and (max-width: 900px){

    body{ background: #dedede; }
    .install{ border-radius: 3px; position: absolute; transform: translate(-50%,-50%); left: 50%; top: 50%; z-index: 100; background: #fff; width: 600px; -webkit-box-shadow: 0px 0px 5px 1px rgba(60,60,93,0.1); -moz-box-shadow: 0px 0px 5px 1px rgba(60,60,93,0.1); box-shadow: 0px 0px 5px 1px rgba(60,60,93,0.1); border: 3px solid #dedede; }
    .install-block{ display: grid; grid-template-columns: 50% 50%; grid-column-gap: 15px; }
    .install-context{ padding: 20px 20px; }
    .install-title{ font-size: 18px; text-align: center; font-weight: bold; margin-bottom: 3px; color: #7499aa; }
    .install-description{ font-size: 14px; text-align: center; margin-bottom: 20px; color: #a2a2c3; } 
    .install-label{ margin-bottom: 5px; color: #999; font-size: 14px; margin-left: 5px; } 
    .install-input{ padding: 7px 10px; background: #f2f2f2; border: 1px solid #e6eff3; border-bottom: 1px solid #e6eff3; width: 88%; margin-bottom: 10px; box-shadow: 0 0 0 0; outline: 0; border-radius: 3px; } 
    .install-input:focus{ border-bottom: 1px solid #5e7e8c; } 
    .installbutton{ margin-top: 35px; display: block; margin-left: auto; margin-right: auto; padding: 15px 35px; cursor: pointer; box-shadow: 0 0 0 0; border: 0 none; outline: 0; background: #0099ff; color: #ffffff; font-size: 16px; border-radius: 3px; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; } 
    .install-info-group{ display: grid; grid-template-columns: 20px auto; margin-bottom: 8px;} 
    .install-remember{ font-size: 14px; display: inline-block; margin-top: 1px; color: #555; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; margin-left: 4px; } 
    .install-image-icon{ width: 55px; border-radius: 100%; position: relative; transform: translateX(-50%); left: 50%; margin-bottom: 4px; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

}

@media only screen and (min-width: 901px){

    body{ background: #dedede; }
    .install{ border-radius: 3px; position: absolute; transform: translate(-50%,-50%); left: 50%; top: 50%; z-index: 100; background: #fff; width: 700px; -webkit-box-shadow: 0px 0px 5px 1px rgba(60,60,93,0.1); -moz-box-shadow: 0px 0px 5px 1px rgba(60,60,93,0.1); box-shadow: 0px 0px 5px 1px rgba(60,60,93,0.1); border: 6px solid #dedede; }
    .install-block{ display: grid; grid-template-columns: 50% 50%; grid-column-gap: 15px; }
    .install-context{ padding: 40px 20px; }
    .install-title{ font-size: 20px; text-align: center; font-weight: bold; margin-bottom: 3px; color: #7499aa; }
    .install-description{ font-size: 14px; text-align: center; margin-bottom: 20px; color: #a2a2c3; } 
    .install-label{ margin-bottom: 5px; color: #999; font-size: 14px; margin-left: 5px; } 
    .install-input{ padding: 7px 10px; background: #f2f2f2; border: 1px solid #e6eff3; border-bottom: 1px solid #e6eff3; width: 89%; margin-bottom: 15px; box-shadow: 0 0 0 0; outline: 0; border-radius: 3px; } 
    .install-input:focus{ border-bottom: 1px solid #5e7e8c; } 
    .installbutton{ margin-top: 35px; display: block; margin-left: auto; margin-right: auto; padding: 15px 35px; cursor: pointer; box-shadow: 0 0 0 0; border: 0 none; outline: 0; background: #0099ff; color: #ffffff; font-size: 16px; border-radius: 3px; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; } 
    .install-info-group{ display: grid; grid-template-columns: 20px auto; margin-bottom: 8px;} 
    .install-remember{ font-size: 14px; display: inline-block; margin-top: 1px; color: #555; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; margin-left: 4px; } 
    .install-image-icon{ width: 55px; border-radius: 100%; position: relative; transform: translateX(-50%); left: 50%; margin-bottom: 4px; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

}

